{% extends "condominio/base.html" %}
{% load static %}
{% block lightboxcss %}<link rel="stylesheet" href="{% static 'assets/lightbox2/css/lightbox.css' %}">{% endblock  %}
{% block body %}
  <div class="page-heading header-text">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h3>Galeria</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="galery-div ">
    <div class="container align-content-center m-0">

      <div class="row properties-box align-content-between mb-4">
          <div class="item col-lg-3 col-md-3 align-self-center properties-items ">
            <a href="{% static 'assets/images/galery-01.jpg' %}" data-lightbox="houses"><img src="{% static 'assets/images/galery-01.jpg' %}" alt="imagem1" class="galery-image" /></a>
          </div>

          <div class="item col-lg-3 col-md-3 align-self-center properties-items ">
            <a href="{% static 'assets/images/galery-02.jpg' %}" data-lightbox="houses"><img src="{% static 'assets/images/galery-02.jpg' %}" alt="imagem2" class="galery-image" /></a>
          </div>

          <div class="item col-lg-3 col-md-3 align-self-center properties-items ">
            <a href="{% static 'assets/images/galery-03.jpg' %}" data-lightbox="houses"><img src="{% static 'assets/images/galery-03.jpg' %}" alt="imagem3" class="galery-image" /></a>
          </div>

          <div class="item col-lg-3 col-md-3 align-self-center properties-items ">
            <a href="{% static 'assets/images/galery-04.jpg' %}" data-lightbox="houses"><img src="{% static 'assets/images/galery-04.jpg' %}" alt="imagem4" class="galery-image" /></a>
          </div>
      </div>

      <div class="row properties-box align-content-center mb-4">
        <div class="item col-lg-3 col-md-3 align-self-center properties-items ">
          <a href="{% static 'assets/images/galery-05.jpg' %}" data-lightbox="houses"><img src="{% static 'assets/images/galery-05.jpg' %}" alt="imagem5" class="galery-image" /></a>
        </div>

        <div class="item col-lg-3 col-md-3 align-self-center properties-items ">
          <a href="{% static 'assets/images/galery-06.jpg' %}" data-lightbox="houses"><img src="{% static 'assets/images/galery-06.jpg' %}" alt="imagem6" class="galery-image" /></a>
        </div>

        <div class="item col-lg-3 col-md-3 align-self-center properties-items ">
          <a href="{% static 'assets/images/galery-01.jpg' %}" data-lightbox="houses"><img src="{% static 'assets/images/galery-01.jpg' %}" alt="imagem7" class="galery-image" /></a>
        </div>

        <div class="item col-lg-3 col-md-3 align-self-center properties-items ">
          <a href="{% static 'assets/images/galery-01.jpg' %}" data-lightbox="houses"><img src="{% static 'assets/images/galery-01.jpg' %}" alt="imagem8" class="galery-image" /></a>
        </div>
    </div>

      <div class="row">
        
      </div>
    </div>
  </div>
  {% endblock  %}

  {% block lightboxjs %}<script src="{% static 'assets/lightbox2/js/lightbox.js' %}"></script>{% endblock  %}