{% extends "condominio/base.html" %}
{% load static %}
{% block body %}
  <div class="contact-page section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 shadow shadow-lg pt-4 ps-4">
          <div class="section-heading">
            <h6>Regulamento</h6>
            <h4>Regras para Visitantes</h4>
          </div>
          <p>
            Proin et condimentum nunc. Fusce porta ligula pellentesque nisl congue, in egestas sem consequat. Donec ac porttitor mauris. Praesent at nunc mattis, lacinia erat vitae, aliquam mi. Aliquam erat volutpat. Nulla in congue orci. Fusce non turpis sit amet mi elementum suscipit faucibus non lorem. Vivamus eu est imperdiet risus tempor viverra sed id dui. Nulla et rutrum purus, non pulvinar orci. Integer viverra risus vel semper pretium. Suspendisse venenatis massa ut faucibus venenatis. Donec non augue augue. Donec nec dapibus velit. Cras vitae tempus nibh, eu cursus ante.

            Nam malesuada a metus et facilisis. Nam eget eleifend ante. Maecenas rutrum elit nec risus fringilla interdum. Nulla at neque dignissim, vestibulum arcu quis, congue arcu. Vivamus molestie vehicula suscipit. Duis posuere, erat id laoreet tempor, ex erat faucibus neque, sed elementum ligula ligula sed quam. Sed vitae massa mi. Duis vel velit facilisis, posuere nunc nec, viverra justo. Quisque tristique vitae sapien et blandit. Fusce euismod tellus a condimentum ultrices. Phasellus at felis ornare eros suscipit congue. Sed mi orci, condimentum eu augue id, ultricies tempor velit.

          </p>
          
          <div class="row mt-4">
            
          </div>
        </div>

        <div class="col-lg-6 pt-4 ps-4">
          
        </div>
       
      </div>
    </div>
  </div>
  {% endblock  %}

 