{% extends 'condominio/base.html' %}
{% block body %}
<div class="container pt-4">
    <div class="row mt-5 justify-content-center">

      <div class="col-lg-6 shadow shadow-lg pt-4 ps-4">
        <div class="section-heading">
        <h6 class="text-center my-2">USUÁRIO OU SENHA INCORRETOS</h6>
        <h5 class="text-center">Verifique as informações de Login.</h5>
        <a class="btn btn-dark m-5" href="{% url 'loginUser' %}">Voltar para Login</a>
      </div>
           
      </div>
   
</div>
{% endblock  %}